<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Hello, flask Word</title>
  </head>
  <body>
    <form action="/" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Name</label>
        <input type="text" class="form-control" name="Name"  aria-describedby="emailHelp"> 
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Age</label>
        <input type="text" class="form-control" name="Age">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Mobile</label>
        <input type="text" class="form-control" name="Mobile" >
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
   
    {% if allTodo|length == 0 %}
                   
    <div class="alert alert-dark" role="alert">
        No Todos found. Add your first todo now!
      </div>
        {% else %} 
        <table class="table">
            <thead>
              <tr>
                <th scope="col">SNo</th>
                <th scope="col">Name</th>
                <th scope="col">AGE</th>
                <th scope="col">Mobile</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            
            <tbody>
  {% for todo in allTodo %}
  <tr>
    <th scope="row">{{loop.index}}</th>
    <td>{{todo.Name}}</td>
    <td>{{todo.Age}}</td>
    <td>{{todo.Mobile}}</td>
          <td><a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-warning btn-sm mx-1">update</a><a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-danger btn-sm mx-1">Delete</a></td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>